<a href="https://colab.research.google.com/github/princeiiitk/Exploratory-Data-Analysis-EDA-/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv('/content/drive/MyDrive/EDA(27-01-2026)/patient data(2025).csv')
df.head(11)

,Date,Department,Total Visits,Patient Head Count in OPD,ABHA Linked Visits,Total Rx,Rx With ABHA Count,Linked Rx With ABHA Count,Abha Rx Linked Count On This Day,Total Discharge,Total Discharge Summary,Total Discharge Summary ABHA,Discharge Summary Linked Context,Discharge Summary Linked Context On This Day
0,01-01-2025,Anaesthesiology,10,10,9,0,0,0,0,0,0,0,0,0
1,01-04-2025,Anaesthesiology,14,14,14,0,0,0,0,0,0,0,0,0
2,01-05-2025,Anaesthesiology,12,12,12,0,0,0,0,0,0,0,0,0
3,01-07-2025,Anaesthesiology,19,19,15,0,0,0,0,0,0,0,0,0
4,01-08-2025,Anaesthesiology,10,10,7,0,0,0,0,0,0,0,0,0
5,01-09-2025,Anaesthesiology,9,9,8,4,4,4,4,0,0,0,0,0
6,01-10-2025,Anaesthesiology,10,10,9,0,0,0,0,0,0,0,0,0
7,01-12-2025,Anaesthesiology,13,13,13,0,0,0,0,0,0,0,0,0
8,02-01-2025,Anaesthesiology,8,8,8,0,0,0,0,0,0,0,0,0
9,02-04-2025,Anaesthesiology,37,37,32,0,0,0,0,0,0,0,0,0
10,02-05-2025,Anaesthesiology,7,7,6,0,0,0,0,0,0,0,0,0

In [6]:
df.tail()

,Date,Department,Total Visits,Patient Head Count in OPD,ABHA Linked Visits,Total Rx,Rx With ABHA Count,Linked Rx With ABHA Count,Abha Rx Linked Count On This Day,Total Discharge,Total Discharge Summary,Total Discharge Summary ABHA,Discharge Summary Linked Context,Discharge Summary Linked Context On This Day
7352,30-07-2025,Urology,56,56,52,0,0,0,0,0,0,0,0,0
7353,31-01-2025,Urology,88,88,83,0,0,0,0,0,0,0,0,0
7354,31-07-2025,Urology,1,1,0,0,0,0,0,0,0,0,0,0
7355,31-10-2025,Urology,42,42,39,0,0,0,0,0,0,0,0,0
7356,31-12-2025,Urology,33,33,30,0,0,0,0,0,0,0,0,0

In [7]:
df.columns

Index([' Date', ' Department', ' Total Visits', ' Patient Head Count in OPD',
       ' ABHA Linked Visits', ' Total Rx', ' Rx With ABHA Count',
       ' Linked Rx With ABHA Count', ' Abha Rx Linked Count On This Day',
       ' Total Discharge', ' Total Discharge Summary',
       ' Total Discharge Summary ABHA', ' Discharge Summary Linked Context',
       ' Discharge Summary Linked Context On This Day'],
      dtype='object')

In [10]:
df.shape

(7357, 14)

In [14]:
df.isnull().sum()

Date                                            0
Department                                      0
Total Visits                                    0
Patient Head Count in OPD                       0
ABHA Linked Visits                              0
Total Rx                                        0
Rx With ABHA Count                              0
Linked Rx With ABHA Count                       0
Abha Rx Linked Count On This Day                0
Total Discharge                                 0
Total Discharge Summary                         0
Total Discharge Summary ABHA                    0
Discharge Summary Linked Context                0
Discharge Summary Linked Context On This Day    0
dtype: int64

In [15]:
df.describe()

,Total Visits,Patient Head Count in OPD,ABHA Linked Visits,Total Rx,Rx With ABHA Count,Linked Rx With ABHA Count,Abha Rx Linked Count On This Day,Total Discharge,Total Discharge Summary,Total Discharge Summary ABHA,Discharge Summary Linked Context,Discharge Summary Linked Context On This Day
count,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000,7357.000000
mean,57.090798,56.959223,49.788229,3.002447,2.764306,2.438494,2.461193,1.287074,0.388202,0.277559,0.240043,0.239908
std,65.176338,65.060383,60.457894,11.031506,10.109900,8.846367,8.856801,1.995362,1.421467,1.077302,0.952379,0.957751
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,9.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.000000,29.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,89.000000,89.000000,78.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
max,362.000000,356.000000,340.000000,124.000000,110.000000,95.000000,95.000000,15.000000,16.000000,12.000000,12.000000,13.000000

In [19]:
newdf=df.drop(columns=[' Patient Head Count in OPD',
       ' ABHA Linked Visits',' Rx With ABHA Count',
       ' Linked Rx With ABHA Count', ' Abha Rx Linked Count On This Day',
       ' Total Discharge Summary ABHA', ' Discharge Summary Linked Context',
       ' Discharge Summary Linked Context On This Day'],axis=1)

In [20]:
newdf.head(10)

,Date,Department,Total Visits,Total Rx,Total Discharge,Total Discharge Summary
0,01-01-2025,Anaesthesiology,10,0,0,0
1,01-04-2025,Anaesthesiology,14,0,0,0
2,01-05-2025,Anaesthesiology,12,0,0,0
3,01-07-2025,Anaesthesiology,19,0,0,0
4,01-08-2025,Anaesthesiology,10,0,0,0
5,01-09-2025,Anaesthesiology,9,4,0,0
6,01-10-2025,Anaesthesiology,10,0,0,0
7,01-12-2025,Anaesthesiology,13,0,0,0
8,02-01-2025,Anaesthesiology,8,0,0,0
9,02-04-2025,Anaesthesiology,37,0,0,0

In [26]:
newdf['% Rx']=newdf[' Total Rx']/newdf[' Total Visits']*100
newdf['% Rx'] = newdf['% Rx'].replace([np.inf, -np.inf], 0)
newdf.head(10)

,Date,Department,Total Visits,Total Rx,Total Discharge,Total Discharge Summary,% Rx
0,01-01-2025,Anaesthesiology,10,0,0,0,0.000000
1,01-04-2025,Anaesthesiology,14,0,0,0,0.000000
2,01-05-2025,Anaesthesiology,12,0,0,0,0.000000
3,01-07-2025,Anaesthesiology,19,0,0,0,0.000000
4,01-08-2025,Anaesthesiology,10,0,0,0,0.000000
5,01-09-2025,Anaesthesiology,9,4,0,0,44.444444
6,01-10-2025,Anaesthesiology,10,0,0,0,0.000000
7,01-12-2025,Anaesthesiology,13,0,0,0,0.000000
8,02-01-2025,Anaesthesiology,8,0,0,0,0.000000
9,02-04-2025,Anaesthesiology,37,0,0,0,0.000000

In [28]:
newdf.columns=newdf.columns.str.strip()
newdf.columns

Index(['Date', 'Department', 'Total Visits', 'Total Rx', 'Total Discharge',
       'Total Discharge Summary', '% Rx'],
      dtype='object')